#resultaat {
    display: grid;
    grid-template-columns: 200px;

}

@media (min-width: 992px){
    #resultaat {
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;

    }
}
/* grid is verdeeld in vakjes van 200 px wijd, in mobiel staan ze onder elkaar, op laptop staan ze per 4*/

